* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1 {
    width: 100%;
    text-align: center;
}

main {
    padding: 36px;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}

.category-container button {
    padding: 12px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 22px;
    min-width: 150px;
    margin: 0 30px;
}

.slider-container {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: relative;
}

.image-holder {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: lightgrey;
    background-image: url("https://baconmockup.com/1200/600/");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px solid black;
    filter: brightness(.8);
}

.button-container {
    width: calc(100% + 160px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -80px;
    display: flex;
    justify-content: space-between;
}

.button-container button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    filter: brightness(.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button:hover {
    filter: brightness(1.1);
}

.counter-container {
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
}

.bullet-container {
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: lightgrey;
    cursor: pointer;
}
.bullet-active {
    width: 14px;
    height: 14px;
    transform-origin: center;
    background: #FFFFFF;
    cursor: default;
}