.wrapper {
  border: 1px solid black;
  border-radius: 50px;
  padding: 20px 80px 20px 80px;
  margin-bottom: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 0, 255, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(255, 0, 255, 1);
  box-shadow: 0px 0px 15px 0px rgba(255, 0, 255, 1);
  & > img {
    width: 150px;
  }
}

.favoritesWrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  & > img {
    height: 40px;
    height: 40px;
    cursor: pointer;
  }
}

.checked {
  color: orange;
}

.addToCartBtn {
  margin-top: 20px;
  background-color: rgba(255, 0, 255, 0.5);
  padding: 20px 40px 20px 40px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 40px;
  cursor: pointer;
}
