@import "../base/reset";
@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer {
  background-color: #000000;
  padding-top: 38px;
  padding-bottom: 47px;
  padding-left: 35px;
  padding-right: 35px;
  &__social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    gap: 5px;
  }
  &__title {
    @include sectionTitle;
    color: #fefefe;
    text-align: center;
    margin-bottom: 8px;
  }
  &__description {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #b9b9b9;
    margin-bottom: 26px;
  }
  &__address {
    font-size: 14px;
    line-height: 24px;
    color: #b9b9b9;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }
}

// tablet
@media (min-width: $min-media-tablet) {
  .footer {
    padding-top: 57px;
    padding-bottom: 57px;
    padding-left: 118px;
    padding-right: 118px;
    &__address {
      font-size: 14px;
      line-height: 24px;
      color: #b9b9b9;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
@media (min-width: $min-media-desktop) {
  .footer {
    margin: 0 auto;
  }
}

// pc
// @media (min-width: $min-media-desktop) and (max-width: $max-media-desktop) {
//   .footer {
//     padding-top: 66px;
//     padding-bottom: 70px;
//     padding-left: 450px;
//     padding-right: 450px;
//   }
// }
