*,
*::after
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}

.container {
    width: 1145px;
    margin: 0 auto;
}
.menu {
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    /* Only available for <a>
    text-decoration: none; */
    text-align: center;
}

.menu-param {
    display: inline-block;
    margin-top: 25.5px;
    margin-right: 72px;
    margin-bottom: 25.5px;
}

.text-param {
color: red;
text-decoration: none;
}

.index-img {
    width: 100%;
    height: 100%;
     /* remake with vh+vw */
    object-fit: cover;
    margin-bottom: 49px;
}

.hero-title {
    text-align: center;
    color: #373737;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.hero-paragraph {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 28px;
}

.hero-subparagrapgh {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 66px;
}

.b-get-started {
    background-color: #FF0000;
    border:0;
    border-radius: 4px;
    padding: 18px 43px;
    text-transform: uppercase;
    color:white;
    font-size: 12px;
    display: block;
    margin: auto;
    margin-bottom: 82px;
}
button:hover{
    text-decoration: underline blue 2px;
}

.copyright {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    font-weight: bold;
    text-align: right;
    margin-right: 105px;
    margin-bottom: 29px;
    color: #373737;
}




