.favoritescontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  color: white;
  & > img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
}
