@mixin display($visibility) {
  display: $visibility;
}

@mixin grid(
  $columns: 1fr,
  $justify: start,
  $align: start,
  $justifyItems: start
) {
  display: grid;
  grid-template-columns: $columns;
  justify-content: $justify;
  align-items: $align;
  justify-items: $justifyItems;
}

@mixin flex($direction: column, $justify: center, $align: center, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin centAndNorepeatBackgroundImg {
  background-repeat: no-repeat;
  background-position: center;
}

@mixin activeBtn($color) {
  color: $color;
}

@mixin menuStyles {
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: $primaryTextColor;
  text-decoration: none;
  user-select: none;
}

@mixin sectionTitle {
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4e4e4e;
}

@mixin container {
  margin: 0 auto;
}
