@import "./components/header";
@import "./components/posts";
@import "./components/LastInstagramShot";
@import "./components/footer";
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-width: $min-media-desktop;
  font: $basic-font;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0 auto;
}

//=================== min-width: 319px => hide all ==============
@media (min-width: 1px) and (max-width: 319px) {
  body {
    display: none;
  }
}
