* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #3B5998;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
}

main {
    width: 100%;
    margin: 100px 0;
}

h1, h2 {
    width: 100%;
    text-align: center;
    margin: 40px 0 20px;
}

h1 {
    font-size: 32px;
    line-height: 46px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
}

/* DOGS ------------------------------------------------------------ */

.dog-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
}

/* CATS ------------------------------------------------------------ */

.cat-gallery {
    padding: 0 20px;
    width: 100%;
}

.cat-item {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.cat-item img {
    border: 3px solid black;
    margin-right: 20px;
}

.cat-item div {
    border: 3px solid black;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    padding: 12px;
}

/* STAR WARS ------------------------------------------------------------ */

.sw-gallery {
    padding: 24px;
    width: 100%;
}

.sw-item {
    border-radius: 20px;
    border: 3px solid black;
    padding: 12px;
    margin-bottom: 20px;
}

.sw-item {
    width: 100%;
}

.sw-item ul {
    margin-left: 30px;
}

.sw-item li {
    padding: 5px;
    font-size: 24px;
    font-weight: 500;
}
.avatar-background {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.date-style {
    font-size: 24px;
    font-weight: bold;
}

.reserved-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
}
.reserved-background {
    background-color: rgba(0, 0, 0, 0.7);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reserved-text {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    z-index: 2;
}

.redCats {
    color: red;
}