*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  position: absolute;
  width: 23em;
  height: 30em;
  left: 50%;
  font-size: 50px;
  line-height: 1.5;
  text-align: justify;
  color: yellow;
  bottom: 0;
  overflow: hidden;
  margin-left: -550px;
  transform: perspective(400px) rotateX(25deg);
  transform-origin: 50% 100%;
  font-weight: bold;
}

.content {
  position: absolute;
  top: 80%;
  animation: star-wars 30s linear infinite;
}

.first-title {
  text-align: center;
  margin: 50px;
}

.second-title {
  text-align: center;
  margin: 50px;
}

.paragraphs {
  text-align: left;
  margin: 80px;
}

@keyframes star-wars {
  from {
    top: 90%;
  }
  to {
    top: 0%;
  }
}
