.goodsWrapper {
  display: flex;
  gap: 50px;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 10px 100px 10px 100px;
  justify-content: center;
  align-items: center;
}
