/* *,
*::before,
*::after {
  box-sizing: border-box;
}

.container { 
  height: 1500px;
}

.packman {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}


.packman-top{
  width: 100%;
  height: 50%;
  background-color: gold;
  transform-origin: bottom center;
  clip-path: circle(50% at 50% 100%);
  animation: mouthUp 1s linear infinite alternate;
}

.packman-top::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: black;
  color: white;
  position: absolute;
  left: 100px;
  top: 40px;
}


.packman-bottom{
  background-color: gold;
  width: 100%;
  height: 50%;
  transform-origin: top center;
  clip-path: circle(50% at 50% 0);
  animation: mouthDown 1s linear infinite alternate;
}


@keyframes mouthUp { 
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-30deg);
  }
}

@keyframes mouthDown { 
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}
 */

 * {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  margin: 50px 0;
}

button {
  width: fit-content;
  box-sizing: border-box;
  padding: 12px 18px;
  margin: 0 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

h1 {
  width:  100%;
  text-align: center;
  margin: 20px 0;
}

img {
  min-width: 200px;
  min-height: 200px;
  background-color: lightgrey;
}

.view {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
