*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header-background-line {
  background-color: #49a8dd;
  padding: 8px;
}

.header-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-contacts {
  font-weight: 600;
  color: #f9f9fa;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.0015em;
}

.direction {
  margin-left: 117px;
  position: relative;
}

.direction::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -12%;
  top: 2%;
  width: 20px;
  height: 22px;
  background-image: url(../img/Header_contacts_icons/location.png);
  background-repeat: no-repeat;
}

.mail-us {
  margin-left: 99px;
  position: relative;
}
.mail-us::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -12%;
  top: 15%;
  width: 20px;
  height: 22px;
  background-image: url(../img/Header_contacts_icons/mail.png);
  background-repeat: no-repeat;
}

.callUs {
  margin-left: 96px;
  position: relative;
}

.callUs::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -20%;
  top: 14%;
  width: 20px;
  height: 22px;
  background-image: url(../img/Header_contacts_icons/Call.png);
  background-repeat: no-repeat;
}

.header-school-name {
  font-weight: bold;
  margin-left: 15px;
}

.header-school-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 90px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  letter-spacing: 0.0015em;
}

.header-menu-list {
  position: relative;
}

/* .header-menu-list:not(:last-child)::before {
  content: "";
  top: 3px;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
} */

.header-about-school::after {
  content: "";
  position: absolute;
  top: 3px;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  margin-left: 10px;
}
.header-about-news::after {
  content: "";
  position: absolute;
  top: 3px;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  margin-left: 10px;
}

.header-about-students::after {
  content: "";
  position: absolute;
  top: 3px;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  margin-left: 10px;
}

.header-background-image {
  background-image: url(../img/header-background.png);
  padding-top: 150px;
  padding-bottom: 235px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-slogan-box {
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.0015em;
  color: #333333;
  border-radius: 28px;
  background-color: #f9f9fa;
  padding-top: 48px;
  padding-bottom: 18px;
  padding-left: 25px;
  padding-right: 42px;
  font-style: italic;
}

.header-slogan-text {
  margin-right: 42px;
  margin-left: 42px;
}

.header-slogan-name {
  text-align: end;
  margin-top: 27px;
}
.about-story {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-story-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #210d58;
  text-align: center;
  margin-bottom: 30px;
}

.about-story-top-decoration {
  display: flex;
  margin: 0 auto;
}
.about-story-flex-container {
  display: flex;
  column-gap: 60px;
  margin-bottom: 38px;
}
.about-story-between-decoration {
  width: 170px;
  height: 80px;
}
.about-story-paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #333333;
}

.main-background-cubes {
  background-image: url(../img/main-1st-background.svg);
  padding: 100px 135px 15px 135px;
}

.about-us-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
  color: #210d58;
  letter-spacing: -0.5px;
  font-style: normal;
  text-align: center;
  margin-bottom: 100px;
}

.flex-container {
  display: flex;
  column-gap: 30px;
  color: #333333;
  letter-spacing: 0.005em;
  text-align-last: left;
}

.about-us-student-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
.about-us-posiion {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.about-us-achievements {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.about-results {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-top: 20px;
}

.background-news {
  background: #e5e5e5;
  position: relative;
}
.news-decoration-element {
  position: absolute;
  left: 71%;
  margin-right: 25px;
  margin-top: 70px;
}

.news {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 175px;
}
.news-flex-container {
  display: flex;
  justify-content: start;
  column-gap: 130px;
}

.news-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #210d58;
  text-align: center;
  margin-bottom: 100px;
}

.news-under-video-description {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.005em;
  color: #333333;
  margin-top: 30px;
}

.news-information {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.005em;
  color: #333333;
}

.date-for-news {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}

.news-article {
  margin-bottom: 30px;
}

/* correct with pseudoclass */
.news-article-additional-margin {
  margin-bottom: 40px;
}

.btn-read-all-news {
  color: #0085ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border: none;
  background-color: inherit;
}
