.formWrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin: 20px;
  & > div {
    & > input {
      padding: 10px;
      border-radius: 10px;
      min-width: 200px;
    }
  }
}
