.line {
  height: 5px;
  background-color: red;
}
.container {
  display: flex;
}

.body {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 0px 100px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  & > a {
    margin: 5px;
    & > img {
      width: 30px;
      height: 30px;
    }
  }
}

.loginCartWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  & > div > img {
    cursor: pointer;
  }
  & > button {
    border: none;
    background-color: inherit;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 50px;
  }
}

.shoppingBasket {
  color: white;
  position: absolute;
  left: -431px;
  top: 80px;
  border: 1px solid black;
  background-color: black;

  & > div > img {
    width: 100px;
    margin-right: 30px;
  }
}

.goodsAtCartCount {
  color: white;
}

.shoppingBasketWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 30px;
}
