@media (min-width: 360px) {
  .cardWrapper {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > * {
      font-size: 16px;
      line-height: 26px;
    }
    & > * img {
      border-radius: 40px;
    }
  }

  .aboutPerson > a {
    display: block;
    text-decoration: none;
    color: inherit;
    overflow-wrap: break-word;
  }
}
