.goodsWrapper {
  display: grid;
  grid-template-columns: repeat(1fr, minmax(320px, 1fr));
  padding: 30px 100px 30px 100px;
  align-items: center;
  justify-items: center;
  & > div {
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px 80px 20px 80px;
    margin-bottom: 30px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 0, 255, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(255, 0, 255, 1);
    box-shadow: 0px 0px 15px 0px rgba(255, 0, 255, 1);
    gap: 20px;
  }
}
