.pageTitle {
  text-align: center;
  margin: 40px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  gap: 50px;
}

.cardWrapper {
  flex-direction: column;
  border: 1px solid black;
  border-radius: 50px;
  padding: 20px 80px 20px 80px;
  margin-bottom: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 0, 255, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(255, 0, 255, 1);
  box-shadow: 0px 0px 15px 0px rgba(255, 0, 255, 1);
  & > img {
    width: 150px;
  }
}
.cardTitle {
  margin: 20px;
}

.cardPrice {
  font-size: 25px;
  font-weight: bold;
}

.cardColor {
  font-size: 25px;
  margin: 20px;
}
.finalAmount {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.orderedQty {
  margin: 20px;
  font-size: 20px;
}
