*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container2 {
  width: 1170px;
  margin: 0 auto;
}

.header-section {
  background-color: #313131;
  display: flex;
  justify-content: space-between;
  margin-bottom: 163px;
}
.logo {
  display: flex;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 27px;
}

.logo-img {
  padding-right: 27px;
}
.company-name {
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
}
.company-name:hover {
  text-decoration: underline 3px solid #14b9d5;
}

.header-nav {
  display: flex;
}
.header-nav-list {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 26px;
  padding-right: 36px;
}

.header-nav-text {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.header-nav-text:hover {
  text-decoration: underline 3px solid #14b9d5;
  color: #14b9d5;
}

.header-seacrh {
  background-color: #000000;
}

.header-search-icon {
  padding: 27px;
}

.header-background-img {
  background-image: url(../img/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slogan {
  display: flex;
  justify-content: center;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 44px;
}

.header-button {
  display: flex;
  justify-content: center;
}

.subscribe {
  font-size: 18px;
  line-height: 25px;
  background-color: #89ca62;
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 19px;
  padding-right: 19px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  margin-right: 20px;
  margin-bottom: 74px;
}
.articles {
  font-size: 18px;
  line-height: 25px;
  background-color: #14b9d5;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 29px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 74px;
}

.most-popular-background {
  background: #f2f2f2;
}

.popular-posts {
  padding-top: 49px;
  margin-bottom: 49px;
  display: flex;
  justify-content: center;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  font-weight: bold;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: 950px;
}

.posts-title {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #353a3d;
  background: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 22px;
}

.posts-img {
  margin-bottom: 30px;
  margin-right: 30px;
}

.background-clients {
  background-image: url(../img/parallax-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.our-best-clients {
  padding-top: 106px;
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 87px;
}

.main-line {
  background-color: #18b4cf;
  width: 60px;
  height: 3px;
  border: none;
  margin-bottom: 120px;
}

.clients-logo {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.img-clients-margin-b {
  margin-bottom: 192px;
}

.top-rated {
  margin-top: 49px;
  margin-bottom: 52px;
  text-align: center;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  font-weight: bold;
  text-transform: uppercase;
}

.top-rated-img {
  display: grid;
  /* correct minwidth to 271 as at template here */
  grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
  grid-template-rows: 1fr;
  margin-bottom: 48px;
}

.hot-news {
  text-align: center;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 51px;
}

.hot-news-article {
  background: #f9f7f7;
}

.hot-news-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, min-content);
  margin-bottom: 77px;
}

.hot-news-article-1 {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  margin-right: 35px;
  margin-bottom: 44px;
  text-align: end;
}

.article-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: right;
  margin-top: 14px;
  margin-bottom: 15px;
  margin-right: 27px;
}

.hot-news-article-2 > h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: center;
  margin-top: 14px;
}

.hot-news-article-7 > h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: center;
}

.first-and-last-article-title {
  margin-top: 41px;
  margin-bottom: 15px;
  margin-right: 24px;
  margin-left: 13px;
}
.first-and-last-article-text {
  margin-bottom: 41px;
  margin-right: 24px;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  margin-left: 14px;
}

.article-paragrapgh {
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  text-align: end;
  margin-right: 14px;
  margin-left: 14px;
}
.hot-news-article-2 {
  grid-area: 1 / 4 / 2 / 5;
  margin-bottom: 44px;
  width: min-content;
}

.hot-news-article-3 {
  grid-area: 2 / 1 / 3 / 3;
  width: min-content;
  margin-right: 60px;
  margin-bottom: 48px;
}

.hot-news-article-4 {
  grid-area: 2 / 3 / 3 / 5;
  width: min-content;
  margin-bottom: 46px;
}
.hot-news-article-5 {
  grid-area: 3 / 1 / 4 / 3;
  width: min-content;
  margin-bottom: 44px;
}

.hot-news-article-6 {
  grid-area: 3 / 3 / 4 / 5;
  width: min-content;
  margin-bottom: 44px;
}
.hot-news-article-7 {
  grid-area: 4 / 1 / 5 / 2;
  margin-right: 35px;
}

.hot-news-article-8 {
  grid-area: 4 / 2 / 5 / 5;
  display: flex;
}
.footer-info {
  background-color: #000000;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, auto));
  align-items: center;
  justify-content: space-between;
}

.rights {
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
}

.footer-logo {
  width: 38px;
  height: 24px;
}

.loit-logo {
  width: 64px;
  height: 16px;
}

.footer-flex {
  display: flex;
  align-items: flex-start;
}
