.shoppingBasketWrapper {
  display: flex;
  padding: 30px;
  & > img {
    width: 100px;
  }
}

.shoppingBasketTitle {
  width: max-content;
  margin-right: 80px;
}

.crossDelete {
  width: 30px;
}

.shoppingBasketPrice {
  margin-bottom: 20px;
}
